.top {
  font-family: 'Sacramento', cursive;
  background-color: #ff847c;
  padding-top: 50px;
  padding-bottom: 5px;
}
.middle {
  font-family: 'Sacramento', cursive;
  padding-top: 20px;
  padding-bottom: 10px;
  height: 200px;
  width: 100%;
  background-color: #0fabbc;
}
.bottom {
  margin-bottom: 0px;
  background-color: #a8df65;
  height: 50px;
  width: 100%;
  font-family: serif;
  font-size: 20px;
  padding-bottom: 0px;
}

body {
  font-size: 40px;
  text-align: center;
  margin: 0;
}
h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
}
.bottom-cloud {
  font-family: 'Sacramento', cursive;
  height: 100px;
  width: 300px;
  position: absolute;
  left: 15%;
  top: 25%;
}
.top-cloud {
  font-family: 'Sacramento', cursive;
  position: absolute;

  height: 80px;
  width: 250px;
  right: 200px;
}
.profile {
  font-family: 'Sacramento', cursive;
  background-color: #0fabbc;
  padding-bottom: 10px;
}
.skills {
  background-color: #cff6cf;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: 'Sacramento', cursive;
}
.webdesign-img {
  height: 300px;
  width: 300px;
  font-family: 'Sacramento', cursive;
}
h2 {
  font-family: 'Sacramento', cursive;
  color: #fa1616;
}
.contact-me {
  font-family: 'Sriracha', cursive;
  background-color: #ff9595;
}
.saif-img {
  height: 200px;
  width: 200px;
}
.skills {
}
